# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# ----------------------------
# Virtual environment
# ----------------------------
.venv/
env/
venv/

# ----------------------------
# PyTorch / modèles
# ----------------------------
*.pth
*.pt

# ----------------------------
# Données
# ----------------------------
data/
test_images/
*.csv
*.json

# ----------------------------
# Jupyter Notebook checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# Système
# ----------------------------
.DS_Store
Thumbs.db
